table
  tr
    th(rowspan='2') Решение
    th(rowspan='2') Начато
    th(colspan='3') Завершено
  tr
    th Успешно
    th Безуспешно
    th Решение плохое
  - each solution in solutions
    tr
      td #{solution.name}
      td #{solution.statistics.started}
      td #{solution.statistics.finished_successful}
      td #{solution.statistics.finished_failed}
      td #{solution.statistics.finished_bad_solution}
