extends SimpleWidget

block content
  input(type='text', id='step#{step_id}_#{widget.id}')
  span.help-inline
  - if (value == undefined) value = ""
  block textWidgetScript
    script(type='text/javascript')
      var DynamicFunction_#{step_id}_#{widget.id} = function(){
        var allWidgetsDataArgument = CollectFormData();  
        var functionText = "(" + "#{widget.function_inline}" + ")(" + JSON.stringify(allWidgetsDataArgument) + ")";
        
        if(("#{widget.function_inline}").length == 0)
        {
          step#{step_id}FieldsList['!{widget.id}'] = new TextField(/.*/, 
            document.getElementById("step#{step_id}_#{widget.id}"), document.getElementById("step_#{step_id}_widget_#{widget.id}_wrapper"), DynamicFunctions["#{widget.function}"](allWidgetsDataArgument));
          $("#step#{step_id}_#{widget.id}").attr("disabled", "disabled");          
        }
        else
        {
          step#{step_id}FieldsList['!{widget.id}'] = new TextField(/.*/, 
            document.getElementById("step#{step_id}_#{widget.id}"), document.getElementById("step_#{step_id}_widget_#{widget.id}_wrapper"), eval(functionText));
          $("#step#{step_id}_#{widget.id}").attr("disabled", "disabled");          
        }                    
      };
      if(typeof dynamicWidgetsFunctions == "undefined")
        dynamicWidgetsFunctions = {};
      dynamicWidgetsFunctions["#{step_id}_#{widget.id}"] = DynamicFunction_#{step_id}_#{widget.id};
      $(document).ready(function(){
          DynamicFunction_#{step_id}_#{widget.id}();
      });