extends BaseWidget

block content
  div(id="RadioGroupWidget_#{widget.id}")
  script(type="text/javascript")
    var RadioGroupWidgetBody_#{widget.id} = function()
    {
      if("#{JSON.stringify(value)}" == "undefined")
        var wdgt = step#{step_id}FieldsList['!{widget.id}'] = new RadioGroupWidget(!{JSON.stringify(widget.initial)});    
      else
        var wdgt = step#{step_id}FieldsList['!{widget.id}'] = new RadioGroupWidget(!{JSON.stringify(value)});    
      var value_list = !{JSON.stringify(widget.value_list)};                          
      var initial = wdgt.selection_value;      
      var selectionChangedHandler = function(){
          $("#RadioGroupWidget_#{widget.id}").find(".RadioGroupWidgetItem").attr("checked", false);
          step#{step_id}FieldsList['!{widget.id}'].selection_value = $(this).find(".RadioGroupWidgetItem").attr("value");
          step#{step_id}FieldsList['!{widget.id}'].selection_label = $(this).find(".RadioGroupWidgetItemLabel").text();
          $(this).find(".RadioGroupWidgetItem").attr("checked", true);
          OnWidgetChanged();
      };              
      for(var i in value_list)
      {
          var inpt = $("<input type='radio' class='RadioGroupWidgetItem' selected/>").attr("value", value_list[i].value);
          var label = $("<div class='RadioGroupWidgetItemLabel'/>").text(value_list[i].label);
          if(value_list[i].value == initial)
            inpt.attr("checked", true);
          var container = $("<label/>").addClass("radio").addClass("RadioGroupWidgetItemContainer").append(inpt).append(label).click(selectionChangedHandler);
          $("#RadioGroupWidget_#{widget.id}").append(container);
      }
    };
    
    RadioGroupWidgetBody_#{widget.id}();
    
    //- if($("#RadioGroupWidget_#{widget.id}").closest(".step").is(":visible"))
    //-   setTimeout(function(){
    //-       RadioGroupWidgetBody_#{widget.id}();
    //-       OnWidgetChanged();
    //-}, 1000);