extends SimpleWidget

block content
  input(type='text', id='step#{step_id}_#{widget.id}')
  span.help-inline
  - if (value == undefined) value = ""
  block textWidgetScript
    - var backslash = "\\"
    script(type='text/javascript')
      step#{step_id}FieldsList['!{widget.id}'] = new TextField(/.*/, 
        document.getElementById("step#{step_id}_#{widget.id}"), document.getElementById("step_#{step_id}_widget_#{widget.id}_wrapper"), "!{value.replace(/"/g, backslash+'"')}");
