extends BaseWidget

block content
  input(type='text', id='step#{step_id}_#{widget.id}')
  - if (value == undefined) value = ""
  script(type='text/javascript')
    step#{step_id}FieldsList['!{widget.id}'] = new TextField(/.*/, 
      document.getElementById("step#{step_id}_#{widget.id}"), document.getElementById("step_#{step_id}_widget_#{widget.id}_wrapper"), "!{value.replace(/"/g, '\"')}");
