extends BaseWidget

block widget  
  div(class="WaitListTimers", id="WaitList_#{widget.id}")
  script
    step#{step_id}FieldsList['!{widget.id}'] = new WaitListWidget(!{JSON.stringify(value)});
    var one_day=1000*60*60*24
    var contentFunction = function()
    {
        $("#WaitList_#{widget.id}").children().remove();
        var allWidgetsDataArgument = CollectFormData();
        var widgetArgument = !{JSON.stringify(widget)};
        // for(var v in allWidgetsDataArgument)
            if(typeof(allWidgetsDataArgument[widgetArgument.doc_id]) != "undefined")
            {
                var anyTimers = 0;
                for(var i in allWidgetsDataArgument[widgetArgument.doc_id])
                {
                    anyTimers = 1;
                    var orgData = allWidgetsDataArgument[widgetArgument.doc_id][i];
                    var bDate = new Date(orgData.beginDate);
                    var cDate = new Date();
                    var left = Math.ceil((cDate.getTime() - bDate.getTime()) / one_day - 1);
                    var interval = orgData.interval;
                    var waitTimeLeft = (parseInt(interval)-parseInt(left));
                    
                    var buttonsVisibilityUpdate = function(arg){
                        if(step#{step_id}FieldsList['!{widget.id}'].passable == "passable")
                        {
                            noResponseButton.css({"display" : "none"});
                            responseReceivedButton.css({"display" : "none"});
                            if(arg == 1)                            
                                responseNotReallyReceived.css({"display" : "inline-block"});
                            if(arg == 2)                                
                                responseReallyReceived.css({"display" : "inline-block"});                                                                        
                        }
                        else
                        {
                            noResponseButton.css({"display" : "inline-block"});
                            responseReceivedButton.css({"display" : "inline-block"});
                            responseNotReallyReceived.css({"display" : "none"});
                            responseReallyReceived.css({"display" : "none"});                                                                                                
                        }

                        if(waitTimeLeft != 0)                    
                            noResponseButton.attr("disabled", "disabled");
                        else
                            noResponseButton.removeAttr("disabled");
                        OnWidgetChanged();
                    };
                    
                    var noResponseButton = $('<div/>').addClass("btn documentOrganizationTimerNoResponse").text("Ответ так и не пришел").click(function(){
                        if(typeof($(this).attr("disabled")) == "undefined")
                        {                        
                            step#{step_id}FieldsList['!{widget.id}'].passable = "passable";
                            buttonsVisibilityUpdate(2);
                        }
                    });
                    var responseReceivedButton = $('<div/>').addClass("btn documentOrganizationTimerResponseReceived").text("Ответ пришел").click(function(){
                        if(typeof($(this).attr("disabled")) == "undefined")
                        {                        
                            step#{step_id}FieldsList['!{widget.id}'].passable = "passable";
                            buttonsVisibilityUpdate(1);                        
                        }
                    });
                    var responseNotReallyReceived = $('<div/>').addClass("btn documentOrganizationTimerResponseNotReallyReceived").text("А, нет, ответ все же не пришел").click(function(){    
                        if(typeof($(this).attr("disabled")) == "undefined")
                        {                        
                            step#{step_id}FieldsList['!{widget.id}'].passable = "not passable";
                            buttonsVisibilityUpdate(1);                        
                        }
                    });
                    var responseReallyReceived = $('<div/>').addClass("btn documentOrganizationTimerResponseReallyReceived").text("А, нет, ответ все же пришел").click(function(){
                        if(typeof($(this).attr("disabled")) == "undefined")
                        {
                            step#{step_id}FieldsList['!{widget.id}'].passable = "not passable";
                            buttonsVisibilityUpdate(2);                        
                        }
                    });           
                    buttonsVisibilityUpdate();           
                    
                    $("#WaitList_#{widget.id}").append($("<div/>").css({"display":"inline-block", "margin-right":"5px"}).text(i + " : осталось ждать " + waitTimeLeft + " дней")).append(responseReceivedButton).append(responseReallyReceived).append(noResponseButton).append(responseNotReallyReceived);
                }
                if(anyTimers == 0)
                    $("#WaitList_#{widget.id}").append($("<div/>").addClass("waitListNoTimersError").text("Чтобы идти дальше, нужно отправить документ хоть куда-нибудь!"));
            }
    };
    
    $("#WaitList_#{widget.id}").closest(".step").watch("display", function(){
           contentFunction();
    }, 0, "");
    if($("#WaitList_#{widget.id}").closest(".step").is(":visible"))
       setTimeout(function(){
           contentFunction();
       }, 1000); // [TODO] #(document).ready() doesn't work properly
    