extends BaseWidget

block content
  <div id="YandexMapsWidget_#{widget.id}">      hello, maps world!
  </div>
  script(type="text/javascript")
      step#{step_id}FieldsList['!{widget.id}'] = new YandexMapsWidget(!{JSON.stringify(value)});  
      var RadioGroupWidgetBody_#{widget.id} = function()
      {
         
      };
      if($("#RadioGroupWidget_#{widget.id}").closest(".step").is(":visible"))
         setTimeout(function(){
             RadioGroupWidgetBody_#{widget.id}();
             OnWidgetChanged();
      }, 1000);