extends BaseWidget

block content
  <select data-placeholder="Адрес события" id='YandexMapsWidgetInput_#{widget.id}'>
  </select>
  div()
    div(style="margin-bottom: 4px;")
      input.input-xlarge.organization_name(type="text", id="YandexMapsWidgetInputWS_#{widget.id}", data-provide="typeahead", data-source="[]")
  <div id="YandexMapsWidget_#{widget.id}" style="width: 300px; height: 200px;"></div>
  script(type="text/javascript")
      var YandexMapsWidgetObject_#{widget.id} = {};
      step#{step_id}FieldsList['!{widget.id}'] = new YandexMapsWidget(!{JSON.stringify(value)});  
      var YandexMapsWidgetBody_#{widget.id} = function()
      {
          YandexMapsWidgetObject_#{widget.id} = new ymaps.Map ("YandexMapsWidget_#{widget.id}", {
              center: [55.76, 37.64],
              zoom: 7
          }); 
          
          var updateGeodata = function(){
                   // YandexMapsWidgetObject_#{widget.id}.geoObjects.removeAll();
                   if($(this).val() != "")
                   {
                       var myGeocoder = ymaps.geocode($(this).val());
                       myGeocoder.then(
                           function (res) {
                               // $("#YandexMapsWidgetInput_#{widget.id}").children().remove();
                               var dataSource = [];
                               for(var i = 0; i < res.geoObjects.getLength(); i++)
                               {
                                   var name = res.geoObjects.get(i).properties.get('name');

                                   dataSource.push(name);

                                   // var yaoption = $("<option/>").attr("value", name).text(name);
                                   // $("#YandexMapsWidgetInput_#{widget.id}").append(yaoption);                                 
                                   // var tmp = $("#YandexMapsWidgetInput_#{widget.id}_chzn").find("input").val();
                                   // $("#YandexMapsWidgetInput_#{widget.id}").trigger("liszt:updated");
                                   // $("#YandexMapsWidgetInput_#{widget.id}_chzn").find("input").val(tmp);
                               }

                              $("#YandexMapsWidgetInputWS_#{widget.id}").attr("data-source", JSON.stringify(dataSource));

                               // $("#YandexMapsWidgetInput_#{widget.id}").val(name); :D

                               // nearest.properties.set('iconContent', name);
                               // nearest.options.set('preset', 'twirl#redStretchyIcon');
                               // YandexMapsWidgetObject_#{widget.id}.geoObjects.add(res.geoObjects);
                           },
                           function (err) {
                               alert('Ошибка');
                           }
                       );
                   }
               };
               
          $("#YandexMapsWidgetInput_#{widget.id}").chosen();               
          $("#YandexMapsWidgetInput_#{widget.id}_chzn").find("input").on("keyup", updateGeodata);
          
          $("#YandexMapsWidgetInputWS_#{widget.id}").typeahead();
          $("#YandexMapsWidgetInputWS_#{widget.id}").on("keyup", updateGeodata);
      };
      if($("#YandexMapsWidget_#{widget.id}").closest(".step").is(":visible"))
         setTimeout(function(){
             ymaps.ready(YandexMapsWidgetBody_#{widget.id});                         
             // YandexMapsWidgetBody_#{widget.id}();
             // OnWidgetChanged();
      }, 1000);