div(align="right")
  В: #{org.title} <br> 
  Адрес: #{org.description.address} <br> 
  От: #{data.UserName} <br>
  Адрес: #{data.UserAddress} <br>
div(align="center")
  <b>ПРЕТЕНЗИЯ</b> <br><br>
div
  !{data.BuyDate.value} я приобрёл у Вас #{data.ItemName} полной стоимостью #{data.ItemPrice} руб.
  if data.IsItemDelivered.value == 1
    if data.IsDeliveryCost.value == 0
      , в том числе стоимость доставки составила #{data.ItemDeliveryCost} руб.
    
    if data.IsDeliveryProblems.value < 2
      Товар должен был быть доставлен мне #{data.DeliveryDate.value}, но 
      if data.IsDeliveryProblems.value == 1
        фактически доставка была выполнена c опозданием на #{data.DeliveryDelayDays} дней.
      else if data.IsDeliveryProblems.value == 0
        до настоящего времени доставлен не был.  
div
  if data.IsDeliveryProblems.value > 0 && data.IsItemProblems.value != 0
    !{data.ItemProblemsDate.value} в товаре были найдены следующие недостатки: #{data.ItemProblems}. 
    if data.IsProblemsHealth.value == 1
      Кроме того, мне был нанесён вред здоровью: #{data.ItemProblemsHealth}.
    if data.IsProblemsMoney.value == 1
      Дополнительно, мне был нанесён имущественный ущерб: #{data.ItemProblemsMoney}.  
div
  Руководствуясь нормами Закона Российской Федерации о Защите прав потребителей, ТРЕБУЮ:
  if data.IsItemDelivered.value==1 && data.IsDeliveryProblems.value < 2 && data.RequestsDeliveryDelayMoney
    if(data.IsDeliveryCost.value == 0)
      li Уплаты неустойки: 3% от стоимости доставки за каждый день просрочки в размере #{data.DelayPenaltyAmount} руб. 
    else
      li Уплаты неустойки: 3% от стоимости заказа (т.к. стоимость доставки не указана) за каждый день просрочки в размере #{data.DelayPenaltyAmount} руб.     
if data.IsItemDelivered.value==1 && data.IsDeliveryProblems.value == 0
  if data.RequestsNotDelivered.value == 0
    li #{data.RequestsNotDelivered.label} &#58; #{data.RequestsNewDeliveryDate.value}
  else
    li #{data.RequestsNotDelivered.label}

if (data.IsItemDelivered.value == 2 || data.IsDeliveryProblems.value != 0) && data.IsItemProblems.value == 1
  if data.IsTechComplicated.value==1            
    li #{data.RequestsTechComplicated.label}
    if data.RequestsTechComplicated.value==2
      . Прошу заменить товар с недостатками на  #{data.SubstituteItemName}.
  else
    li #{data.RequestsNonComplicated.label}    
      if data.RequestsNonComplicated.value == 3
        в размере #{data.PriceDiscountMoney} руб. 
      else if data.RequestsNonComplicated.value == 5
        в размере #{data.SelfRepairMoney} руб.
      else if data.RequestsNonComplicated.value == 2
        . Прошу заменить товар с недостатками на  #{data.SubstituteItemName}.  
        
if (data.IsItemDelivered.value == 2 || data.IsDeliveryProblems.value != 0) && data.IsProblemsHealth.value == 1
  li Возмещения нанесённого мне вреда здоровью в размере #{data.RequestHealthProblems} руб.
       
if (data.IsItemDelivered.value == 2 || data.IsDeliveryProblems.value != 0) && data.IsProblemsMoney.value == 1
  li Возмещения ущерба, возникшего вследствие выявленных недостатков товара в размере #{data.RequestDamage} руб.
   

