div(align="right")
  В: #{data.SellerName} <br> 
  Адрес: #{data.SellerAddress} <br>     
  От: #{data.UserName} <br>
  Адрес: #{data.UserAddress} <br>
div(align="center")
  <b>ПРЕТЕНЗИЯ</b> <br><br>
div
  #{data.BuyDate} я приобрёл у Вас #{data.ItemName} полной стоимостью #{data.ItemPrice} руб.
  if data.IsItemDelivered && data.IsDeliveryCost.value == 0
    , в том числе стоимость доставки составила #{data.ItemDeliveryCost} руб.
  Товар должен был быть доставлен мне #{data.DeliveryDate}, но 
  if data.IsItemDelivered && data.IsDeliveryProblems.value == 1
    фактически доставка была выполнена c опозданием на #{data.DeliveryDelayDays} дней.
  else if data.IsItemDelivered && data.IsDeliveryProblems.value == 0
    до настоящего времени доставлен не был.  
         

div
  if data.IsDeliveryProblems.value != 0 && data.IsItemProblems.value != 0
    #{data.ItemProblemsDate} в товаре были найдены следующие недостатки: #{data.ItemProblems}. 
    if data.IsProblemsHealth
      Кроме того, мне был нанесён вред здоровью: #{data.ItemProblemsHealth}.
    if data.IsProblemsMoney
      Дополнительно, мне был нанесён имущественный ущерб: #{data.ItemProblemsMoney}.  
div
  Руководствуясь нормами Закона Российской Федерации о Защите прав потребителей, ТРЕБУЮ:
  if data.IsItemDelivered && data.RequestsDeliveryDelayMoney
    li(id="Delivery") Уплаты неустойки в размере 3% 
    script(type='text/javascript')
      var DeliveryBaseStr;
      var DeliveryBase;
      
      if(#{data.IsDeliveryCost.value} == 0)
      { 
        DeliveryBase = #{data.ItemDeliveryCost};
        DeliveryBaseStr = ' от стоимости доставки за каждый день просрочки в размере ';
      }
      else
      {
        DeliveryBase = #{data.ItemPrice};
        DeliveryBaseStr = ' от стоимости заказа (т.к. стоимость доставки не указана) за каждый день просрочки в размере ';
      }
      
      console.log(DeliveryBaseStr);
      
      if(#{data.IsDeliveryProblems.value} == 1)
      {
        DeliveryBase *= #{data.DeliveryDelayDays};
      }
      else
      {
        var Current = new Date();
        console.log(#{data.DeliveryDate.value});
        var ToBe = new Date(#{data.DeliveryDate.value});
        //console.log(Current.toString());
        console.log(ToBe.toString());
        
        var one_day=1000*60*60*24;
        DeliveryBase *= Math.floor((Current.getTime() - ToBe.getTime())/one_day);
      }  
      //console.log(DeliveryBase);

      DeliveryBaseStr = DeliveryBaseStr + Math.round(DeliveryBase*0.03) + ' руб.';  
      $("#Delivery").text($("#Delivery").text() + DeliveryBaseStr);
      
if data.IsDeliveryProblems.value == 0
  if data.RequestsNotDelivered.value == 0
    li #{data.RequestsNotDelivered.label} &#58; #{data.RequestsNewDeliveryDate}
  else
    li #{data.RequestsNotDelivered.label}

if data.IsDeliveryProblems.value != 0 && data.IsItemProblems.value == 1
  if data.IsTechComplicated            
    li #{data.RequestsTechComplicated.label}
  else
    li #{data.RequestsNonComplicated.label}    
      if data.RequestsNonComplicated.value == 3
        в размере #{data.PriceDiscountMoney} руб. 
      else if data.RequestsNonComplicated.value == 5
        в размере #{data.SelfRepairMoney} руб.
      else if data.RequestsNonComplicated.value == 2
        . Прошу заменить товар с недостатками на  #{data.SubstituteItemName}.  
        
if data.IsDeliveryProblems.value != 0 && data.IsProblemsHealth == 1
  li Возмещения нанесённого мне вреда здоровью в размере #{data.RequestHealthProblems} руб.
       

if data.IsDeliveryProblems.value != 0 && data.IsProblemsMoney == 1
  li Возмещения ущерба, возникшего вследствие выявленных недостатков товара в размере #{data.RequestDamage} руб.
   

