div(align="right")
  <b>В</b>: #{org.title} <br> 
  <b>Адрес</b>: #{org.description.address} <br> 
  <b>От</b>: #{data.UserName} <br>
  <b>Адрес</b>: #{data.UserAddress} <br>
<br>
div(align="center")
  <b>ПРЕТЕНЗИЯ</b> <br><br>
div
  <p>
  В соответствии с п. 2.3, 2.4. СанПин 2.1.4.2496-09 температура горячей воды в местах водоразбора независимо от применяемой системы теплоснабжения должна быть не ниже 60°С и не выше 75°С.В соответствии с п.5 Приложением №1 «Правил предоставления коммунальных услуг гражданам», утвержденных Постановлением Правительства РФ 06 мая 2011 года № 354, горячее водоснабжение должно быть круглосуточным и бесперебойным  в течение года.
  <p>
  В настоящий момент температура из крана горячего водоснабжения у меня в квартире составляет #{data.WaterTemperature} градусов Цельсия.
  <p>
  В связи с тем, что температура горячего водоснабжения у меня в квартире холоднее допустимых нормативов,  прошу провести замер температуры горячего водоснабжения, составить акт о проведении данных замеров, один экземпляр которого выдать мне на руки. При подтверждении нарушения принять меры к его устранению. По окончанию устранения нарушения составить дополнительный акт, фиксирующий нормативные показатели температуры воздуха, а также произвести перерасчет платы за «горячее водоснабжение» в установленные законом сроки.
  <p>
  Прошу письменно ответить на мою претензию в течение 10 дней с момента получения претензии.

div 
  <br>
  <b>Дата</b>: <br>
  <b>Подпись</b>: <br>
  <b>Расшифровка подписи</b>:
