if data[1].radio != "witness"
  Из открытых источников (${data[1].source}) я узнал, что

#{data[0].date} около #{data[0].time} часов адресу #{data[0].place.address} я стал свидетелем правонарушения со стороны водителя
автомобиля с ГРЗ: #{data[0].car_id}, который

case data[0].violation_type
  when "red": выехал на красный.
  when "lines": выехал на полосу встречного движения.
  when "rules": не подчинился правилам разметки.
  when "parking": нарушил правила парковки.
  default: злостно нарушил ПДД.
  
<br/>
Фото-видеосъёмка правонарушения: #{data[2].url}

<br/><br/>
Согласно ст. 1.5. КОАП РФ презумпция невиновности не распространяется на случаи нарушений главы 12 кодекса при фиксации нарушения средствами фото- и киносъемки, видеозаписи. 
<br/>
Согласно ст. 28.1.4 КОАП РФ, фиксация нарушения средствами фото- и киносъемки, видеозаписи, является поводом для возбуждения дела об административном правонарушении. 
<br/>
Согласно ст. 28.6 КОАП РФ, в случае фиксации нарушения средствами фото- и киносъемки, видеозаписи, постановление по делу выносится без участия лица, в отношении которого возбуждено дело об административном правонарушении, и оформляется в порядке, предусмотренном статьей 29.10 КОАП РФ. 
<br/>
Согласно ст. 2.6.1. КОАП РФ, за административные правонарушения в области дорожного движения в случае их фиксации средствами фото- и киносъемки, видеозаписи, привлекаются собственники (владельцы) транспортных средств 
<br/>
Я лично ознакомлен со следующими статьями: ст. 51 Конституции РФ, ст. 25.6 КоАП РФ, ст. 17.7, 17.9, 19.7 КоАП РФ и мне они ясны и понятны. 
<br/>
Прошу, на основании вышеизложенного, привлечь к административной ответственности нарушителя ПДД, о результатах прошу сообщить мне письменно и по электронной почте в установленные законом сроки. 

<br/><br/>
В переписке прошу ссылаться на текст исходного обращения или номер нарушителя, иначе ваши ответы вообще непонятно о чем.