div(class="step isInvisible", id="step_#{step_index}")
  div(class="stepTitle")
    #{step.title}
  br
  #widgets
    script(type = 'text/javascript')
      var step#{step_index}FieldsList = [];
      var notEmptyStep = false;
    - each widget in step.widgets
      - if (stepData == "null")
        !=partial(widget.widget_type, {widget:widget, step_id:step_index, value:widget.initial})
      - else
        !=partial(widget.widget_type, {widget:widget, step_id:step_index, value:stepData[widget.id]})
    script(type = 'text/javascript')
        groups[#{step_index}] = step#{step_index}FieldsList;
