- if (query == undefined) var query = ''

mixin hightlighted_problem_name (name)
  if (query == '')
    = name
  else
    != name.replace(new RegExp(query, "i"), '<span class="orange">$&</span>')

.row-fluid.category-header
  .span6.category
    div.category-icon: img(src='/images/'+category.icon)
    div.category-body 
      h2 #{category.name}
      a(href='/Problems') Вернуться к списку категорий 
  .span6
    form.form-search(method="POST")
      input.search-query(type="text", name="search_query", style="width: 70%", value=query)
      &nbsp;
      button.btn.submit(type="submit"): img(src="/images/search.png", width="18px", height="18px")
      - if (query!='')
        br
        a(href="#search_in_problems", onclick="this.parentNode.action='/Problems'; this.parentNode.submit();") Искать во всех категориях

mixin problem (aProblem)
  - if (!aProblem.in_development) 
    p: a.problemLink(href="/Problems/"+aProblem.name.replace(/ /g,"_"))
      mixin hightlighted_problem_name (aProblem.name)
    p.stat-figures
      img(src="/images/solved.png")
      span.mainStatValue #{aProblem.stats.solved}
      img(src="/images/inprocess.png")
      span.mainStatValue #{aProblem.stats.inprocess}
      img(src="/images/notsolved.png")
      span.mainStatValue #{aProblem.stats.notsolved}
  - else
    p: a.problemLink.problemLinkInActive(href="/Problems/"+aProblem.name.replace(/ /g,"_"))
      mixin hightlighted_problem_name (aProblem.name)
    p.inDevelopmentString
      В разработке

#problems.category-page
  - each aProblem, key in problems
    - if (problems.length%2 == 1 && (key+1)==problems.length)
      .row-fluid
        .span6
          mixin problem (problems[key])
    - else 
      - if (key%2 == 0)
        .row-fluid
          .span6
            mixin problem (problems[key])
          .span6
            mixin problem (problems[key+1])
