extends BaseWidget

block content
  script(type="text/javascript")
    YUI().use('inputex', 'inputex-checkbox'
    , function(Y) 
    {
      step#{step_id}FieldsList['#{widget.id}'] = new Y.inputEx.CheckBox({label: '#{widget.label}', name: '#{widget.id}', value: '#{value}', parentEl: 'step_#{step_id}_widget_#{widget.id}'});
    });
