extends BaseWidget

block content
  label
    #{widget.label}
  input(type='text', id='step#{step_id}_#{widget.id}')
  script(type='text/javascript', src='/javascripts/customWidgets/text_field.js')
  script(type='text/javascript')
    step#{step_id}FieldsList['!{widget.id}'] = new TextField(/^([0]?[1-9]|[1|2][0-9]|[3][0|1])[./-]([0]?[1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$/, 
      document.getElementById("step#{step_id}_#{widget.id}"), document.getElementById("step_#{step_id}_widget_#{widget.id}_wrapper"), "#{value}");
