extends BaseWidget

block content
  input(type="button", class="generatePDFFromDocumentButton", value="PDF", onClick="GeneratePDFFrom(#documentView_#{widget.doc_name})");
  <textarea id="documentView_#{widget.doc_name}" class="document_textarea"></textarea>
  script
    $('#documentView_#{widget.doc_name}').markItUp(mySettings);    
    $("#documentView_#{widget.doc_name}").closest(".step").watch("display", function(){
            GenerateDocument_#{widget.doc_name}();
        }, 100, "");
    if($("#documentView_#{widget.doc_name}").closest(".step").is(":visible"))
        setTimeout(function(){
            GenerateDocument_#{widget.doc_name}();    
        }, 1000); // [ATENTION] correct behavior of this timeout depends on page loading
    
