.row-fluid
  .span5
    Добро пожаловать на&nbsp;<span class="orange">ВикиСоциум</span>&nbsp;&mdash; сайт для тех, кто устал разговаривать о&nbsp;том, как всё плохо, в&nbsp;ЖЖ или на&nbsp;кухнях, но&nbsp;не&nbsp;хочет кровавых революций и&nbsp;гражданских войн. Для тех, кто хочет жить в&nbsp;лучшей стране и&nbsp;готов для этого действовать. Что Вы&nbsp;можете сделать? Именно для ответа на&nbsp;этот вопрос мы&nbsp;и&nbsp;делаем <span class="orange">ВикиСоциум</span>.
  .span4
    <span class="orange">ВикиСоциум</span>&nbsp;&mdash; коллекция простых, пошаговых решений для самых разных социальных вопросов. Наша задача&nbsp;&mdash; сделать решения удобными и&nbsp;доступными, но&nbsp;только с&nbsp;Вашей помощью мы&nbsp;сможем выбрать лучшие и&nbsp;доказать, что они работают!

mixin getProblemWordEnding ( number )
  - var mod10 = number % 10;
  - if ( number < 10 || number > 20 )
    - if ( mod10 == 1 )
      |а
    - if ( mod10 >= 2 && mod10 <= 4 )
      |ы
mixin typograf ( str )
  - str = str.replace(/ (.|..) /g," $1&nbsp;")
  |#{str}
    
.row-fluid#indexMainBlock
  .span9
    .gray-rounded-corners.gray-rounded-block-1
      - each aCategory, key in categoryList      
        - if ( key > 0 )
          hr
        .row-fluid.mainCategoryBlock
          .mainCategoryIcon
            img(src="/images/#{aCategory.icon}")
          .mainCategoryName
            a.problemLink(href="/Categories/"+aCategory.name.replace(/ /g,"_"))
              mixin typograf(aCategory.name)
          .mainCategoryStat
            p
              a.problemLink(href="/Problems/"+aCategory.topProblem.name.replace(/ /g,"_"))
                mixin typograf(aCategory.topProblem.name)
            p.stat-figures
              img(src="/images/solved.png")
              span.mainStatValue #{aCategory.topProblem.stats.solved}
              img(src="/images/inprocess.png")
              span.mainStatValue #{aCategory.topProblem.stats.inprocess}
              img(src="/images/notsolved.png")
              span.mainStatValue #{aCategory.topProblem.stats.notsolved}
            p.problemLinkAllProblems
              a(href="/Categories/"+aCategory.name.replace(/ /g,"_"))
                Ещё #{aCategory.problemsNumber} проблем
                mixin getProblemWordEnding (aCategory.problemsNumber)
  #right-block.span3
    .gray-rounded-corners.gray-rounded-block-2
      p
        b Может быть вы&nbsp;думаете,&nbsp;что:
      p
        a(href="#") Бесполезно, всем на всё наплевать?
      p
        a(href="#") Сначала нужно менять законы, суды, чиновников?
      p
        a(href="#") Нет уж, потрачу кучу времени, и без толку?
      p
        a(href="http://oauth.vk.com/authorize?client_id=2981571&scope=friends&redirect_uri=www.master.cloud.wikisocium.ru&response_type=code") А это регистрация через Вконтакте, и не спрашивайте, почему тут.
  
      
.row-fluid#indexBottom
  .span9 Вы&nbsp;&mdash; юрист, общественный деятель, политик, журналист, чиновник? Вступайте в&nbsp;наше экспертное сообщество&nbsp;&mdash; участвуйте в&nbsp;наполнении коллекции <span class="orange">ВикиСоциума</span>!
