!!!
html
  head
    meta (http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/aristo/jquery-ui-1.8.5.custom.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    
    -each script in scripts 
      script(type='text/javascript', src=script)      

  body
    #header
      #header-logo
        span ВикиСоциум
      script(language="javascript") $("#header-logo").click(function() { window.location.href = '/'; });
    
      #header-menu
        ul
          li
            a(href='/Problems') Проблемы
          - if (!user.guest)
            li
              a(href='/UserData/#{user.email}') Мои дела
        
      #header-auth
      
        - if (user.guest)    
          #header-auth-links
            a#header-reg-link(href="/users/new") Регистрация
            a#header-login-link(href="#") Войти
          script(language="javascript") $("#header-login-link").click(function() { $("#header-auth-links").hide();$("#header-login-form").show(); });
          #header-login-form
            form(method='post', action='/sessions')
              input(type="text", name="user[email]", class="input-type-text", placeholder="E-mail")
              input(type="password", name="user[password]", class="input-type-text", placeholder="Пароль")
              br
              input(type='submit', value='Войти')
              \ или
              a(href='/users/new')зарегистрироваться
        - else
          #header-user-logged-in #{user.email} 
            a#logout(href='/logout') выйти
  
    #content
      !{flashMessages}
      != body
    script(type='text/javascript', src='/javascripts/flash.js')
    
    #footer
      #copyleft &copy; 2011&ndash;2012 ВикиСоциум
      #about
        a(href="#about") О проекте
        a#help(href="#help") Помочь
