!!!
html
  head
    meta (http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/aristo/jquery-ui-1.8.5.custom.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')

    script(language="javascript") $("#header-logo").click(function() { window.location.href = '/'; });

    -each script in scripts 
      script(type='text/javascript', src=script)      

  body
    div.navbar
      div.navbar-inner
        div.container
          a.header-logo(href='/')
            #header-logo.brand(href='/')
              ВикиСоциум
          ul.nav
            li.active
              a(href='/') Главная
            li
              a(href='/Problems') Проблемы
            - if (!user.guest)
              li
                a(href='/UserData/#{user.email}') Мои дела
          ul.nav.pull-right
            - if (user.guest)
              li
                a(href="/users/new") Регистрация
              li
                a(href="/sessions/new") Войти
            - else
              li.navbar-text
                #{user.email}
              li
                a#logout(href='/logout') Выйти

    #content.container
      !{flashMessages}
      != body
    script(type='text/javascript', src='/javascripts/flash.js')
    
    #footer
      #copyleft &copy; 2011&ndash;2012 ВикиСоциум
      #about
        a(href="#about") О проекте
        a#help(href="#help") Помочь
