!!!
html
  head
    meta (http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/aristo/jquery-ui-1.8.5.custom.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')

    script(language="javascript") $("#header-logo").click(function() { window.location.href = '/'; });

    -each style in styles
      link(rel='stylesheet', href=style)

    -each script in scripts 
      script(type='text/javascript', src=script)      

  body
    div.container-fluid
    #heading.row
      #logo.span4.offset1
        &nbsp;
      #heading-stat.span3 3 проблемы, 3 решения, 152 дела, 114 пользователей
      #heading-login-form.span4
        div.formline
          -if (user.guest)
            form.form-inline(method='post', action='/sessions')
              input#user-email.input-small(name='user[email]', value=user.email || '', type='text', placeholder='Email')
              input#user-password.input-small(name='user[password]', value=user.password || '', type='password')
              button.btn.btn-success(type='submit')Войти
            a(href='/users/new') Регистрация
          -else
            #{user.email}
            a(href='/Logout').btn(type='submit')Выйти
    #menu.row
      div.span11.offset1
        a.menu-element О проекте 
        a.menu-element(href='/Problems') Проблемы  и решения
        //-a.menu-element Карта
        - if (!user.guest)
          a.menu-element(href='/UserData/#{user.email}') Мои дела
    div.row
      #content
        !{flashMessages}
        != body
      script(type='text/javascript', src='/javascripts/flash.js')
    
    #footer.row
      div.span3.offset1
        &copy; ВикиСоциум 2011&ndash;2012
      div.span3
        a(href='mailto:feedback@wikisocium.ru') feedback@wikisocium.ru
      div.span3.offset2
        a(href="#about") О проекте 
        a(href="#help") Помочь
