!!!
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
        
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/global.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.js')

    -each style in styles
      link(rel='stylesheet', href=style)
    -each script in scripts 
      script(type='text/javascript', src=script)
    

  body
    p
      span.to-var Салатовым 
      цветом выделено то, что надо заменить на данные из json или БД
    #heading-block
      #heading.container
        .row
          .span5
            h1#logo
              a(href="/") ВикиСоциум
          #heading-stat.span3
            span.to-var 3 
            проблемы, 
            span.to-var 3 
            решения,<br />
            span.to-var 152 
            дела, 
            span.to-var 114 
            пользователей
          #heading-login-form.span3.offset1
            div.formline
              - if (user.guest)
                form.form-inline(method='post', action='/sessions')
                  input#user-email.input-small(name='user[email]', value=user.email || '', type='text', placeholder='Email')
                  input#user-password.input-small(name='user[password]', value=user.password || '', type='password', placeholder='Пароль')
                  button.btn.btn-success(type='submit')Войти
                a(href='/users/new') Регистрация
              - else
                |#{user.email} &nbsp;
                a(href='/Logout').btn(type='submit') Выйти
                
    #menu-block
      #menu.container
        .row
          .span12.navbar
            ul.nav
              - each item in menu
                - if (item.active)
                  li.active: a(href="/#{item.id}") #{item.name}
                - else
                  li: a(href="/#{item.id}") #{item.name}
    
    #content-block.container      
      != body    
    
    //
      !{flashMessages}
      script(type='text/javascript', src='/javascripts/flash.js')
    
    #footer-block
      #footer.container
        .row
          .span3 © ВикиСоциум 2011&ndash;2012
          .span2
            a(href="mailto:feedback@wikisocium.ru") feedback@wikisocium.ru
          .span2.offset3
            a(href="#about") О проекте
            &nbsp;
            a(href="#help") Помочь
            
            script(type='text/javascript', src='/javascripts/reformal.js')
           
