mixin sortByMixin(system_name, human_name, default_direction, width)
  - if (sort == system_name)
    - if (direction == 'asc') var new_direction = 'desc'
    - else var new_direction = 'asc'
    a.inpage_link(href="#", onclick="sortList('"+system_name+"', '"+new_direction+"');")
      b #{human_name}
    img(src="images/sort_"+direction+".png", style="margin-left: 6px; width: 13px")
  - else 
    a.inpage_link(href="#", onclick="sortList('"+system_name+"', '"+default_direction+"');") #{human_name}

.row.sortlinks
  .span11.offsethalf
    Сортировать по: 
    mixin sortByMixin("caseId", "названию дела", "asc")
    |  | 
    mixin sortByMixin("createDate", "дате создания", "desc")
    |  | 
    mixin sortByMixin("updateDate", "дате обновления", "desc")

mixin formatDate(date_str)
  - var date = new Date(Date.parse(date_str));
  - var d = date.getDate(); if (d < 10) d = '0'+d;
  - var m = date.getMonth()+1; if (m < 10) m = '0'+m;
  - var y = date.getFullYear();
  |#{d + '.' + m + '.' + y}

mixin caseRow(aCase)
  .row-fluid.user-case-list-item
    .span8
      .offsethalf
        p
          case aCase.state
            when "active"
              a.caseName(href="/MyCases/" + aCase.caseId.replace(/ /g,"_")) #{aCase.caseId}
            when "completed"
              span.caseName #{aCase.caseId}
            
          |  (создано 
          mixin formatDate(aCase.createDate)
          | )
          // a(href="/MyCases/" + aCase.caseId.replace(/ /g,"_")) #{aCase.sectionName} >       
        p.status Текущий шаг: #{aCase.stepName}
        p.message
          img(src="/images/status-icon-info.png")
          span.to-var Осталось ждать 2 дня
    .span3
      - if ( aCase.updateDate != undefined)
        p.updated(style="text-align: right;")
          | обновлено 
          mixin formatDate(aCase.updateDate)        
        case aCase.state
          when "active"
            p.hiddenbutton(style="text-align: right;")
              button.btn(onClick="ShowEndCasePopup('"+aCase.caseId+"')") Завершить дело
          when "completed"
            form(method="post", action="/MyCases/"+aCase.caseId.replace(/ /g,"_")+"/reopen")
              p.hiddenbutton(style="text-align: right;")
                button.btn(type="submit") Открыть заново

- var completedCasesExist = false
- each aCase in userCasesList
  - if (aCase.state == 'active')
    hr
    mixin caseRow(aCase)
  - else if (aCase.state == 'completed') completedCasesExist = true

- if (completedCasesExist)
  .row(style="margin-top: 50px;")
    h1.offsethalf.span8 Завершённые дела

  - each aCase in userCasesList
    - if (aCase.state == 'completed')
      hr   
      mixin caseRow(aCase)