h1(class="problemId")
  #{problem.name}
  
.row(style="margin-bottom: 20px; margin-top: 20px;")
  .span2
    p.stat-figures
     img(src="/images/solved.png")
     span.mainStatValue.to-var 6
     img(src="/images/inprocess.png")
     span.mainStatValue.to-var 15
     img(src="/images/notsolved.png")
     span.mainStatValue.to-var 8
  .span8
    - each aCategory, key in problem.categories
      - if ( key > 0 )
        |, 
      a(href="/Categories/"+aCategory.replace(/ /g,"_")) #{aCategory}

div(class="problemDescription")
  p
    !{problem.description}

#SolutionTabs.tabs.gray-rounded-corners-tabs
  ul.nav.nav-tabs
    li.active <a href="#solution" data-toggle="tab">Решение</a></li>
    li <a href="#documents" data-toggle="tab">Нормативные документы</a></li>
   
  .tab-content.gray-rounded-corners.gray-rounded-block-1
    .tab-pane.fade.in.active#solution
      div(style="float: right; width: 130px; height: 40px; margin-left: 30px; margin-right: 3%;")
        button.btn.btn-success.useSolutionButton(id="#{problem.solutions[0]}", style="padding: 6px 5px;") Воспользоваться
      p.to-var
        Решение позволяет добиться бесплатного ремонта, при условии, что отопление действительно не соответствует санитарным нормам.
      ol.to-var
        li
          Подача заявления<br />
          Заполняем заявление для подачи в обслуживающую организацию и подаем его.
        li
          Установление факта отсутствия отопления<br />
          Необходимо убедиться, что обслуживающая организация признает факт некачественного предоставления услуг и готова обеспечить бесплатный ремонт.
        li
          Ремонт отопления<br />
          В течение 7 дней от момента признания факта непредоставления услуг должны быть произведены ремонтные работы.
        li
          Обращаемся в суд<br />
          Рекомендации по тому, как обращаться с исковым заявлением в суд.
    .tab-pane.fade#documents
      p.to-var.
        456<br />123<br />123

#modal_window

script(type='text/javascript')
  var is_guest = #{user.guest}
  if (is_guest) {
    $(".useSolutionButton").click( function() {
      location.href = '/login?return_to='+document.URL;
    } );
  }
  else {
    var modal_title = "Введите название решения";
    var modal_body;
    var buttons = [];
    buttons.push(new modalButton ( "Отменить", 'cancel' ) );
    buttons.push(new modalButton ( "Добавить", function() { $( "#addCaseForm" ).submit(); }, 'btn-success' ) );
    $(".useSolutionButton").click( function() {
      modal_body = '<p><form id="addCaseForm" method="post", action="/addcasetouser/'+$(this).attr("id")+'"><input type="text" name ="case_id" /></form></p><p>Решение с этим названием будет добавлено<br />в список ваших дел</p>';
      showModalWindow ( modal_title, modal_body, buttons );
    } );
  }
