extends BaseWidget

block content
  script(type="text/javascript")
    YUI().use('inputex', 'inputex-radio'
    , function(Y) 
    {
    step#{step_id}FieldsList['#{widget.id}'] = new Y.inputEx.RadioField({label: '!{widget.label}', name: 'step#{step_id}_#{widget.id}', display: 'vertically', choices: !{JSON.stringify(widget.value_list)}, value: '#{value}', required:true, parentEl: 'step_#{step_id}_widget_#{widget.id}'});
    });
