extends BaseWidget

block content
  script(type="text/javascript")
    step#{step_id}FieldsList.push({ type: 'radio', label: '#{widget.label}', name: '#{widget.id}', display: 'vertically', choices: !{JSON.stringify(widget.value_list)}, value: '#{value}', required:true });
