div(class="widgetData", id="#{stepId}"+"#{aWidget.id}")
  script(type='text/javascript')
    step#{stepId}FieldsList.push({ type: 'string', label: '#{aWidget.label}', name: '#{aWidget.id}', value: '#{wValue}', required:true });
