extends BaseWidget

block content
  script(type='text/javascript', src='/javascripts/customWidgets/URLOpenerWidget.js')
  script(type='text/javascript')
    function addFieldToGroup()
    {
        // Removing currently drawn controls
        var old_field = step#{step_id}FieldsList['#{widget.id}'].fields;
        step#{step_id}FieldsList['#{widget.id}'].fields = [];
        $("#step_#{step_id}_widget_#{widget.id}").children("div").remove();
        $("#step_#{step_id}_widget_#{widget.id}").children("img").remove();
        $("#step_#{step_id}_widget_#{widget.id}").children(".openURLRemoveButton").remove();
        
        // Injecting new ones
        YUI().use('inputex', 'inputex-string'
        , function(Y) 
        {
            // [TODO] Keep DRY
            var opener = new URLOpenerWidget(); 
            for(var i = 0; i < old_field.length; i++)
            {
              opener.fields.push(new Y.inputEx.StringField({label: 'URL',
                                                            name: 'step#{step_id}_#{widget.id}',
                                                            value: old_field[i].getValue(),
                                                            required:true,
                                                            parentEl: 'step_#{step_id}_widget_#{widget.id}'}));
              $('#step_#{step_id}_widget_#{widget.id}').append($('<input type=button>').attr('class', 'openURLRemoveButton').attr('value', 'Remove').attr('onClick', 'groups[#{step_id}]["#{widget.id}"].removeField(' + i + '); SaveFormData(currentStepId, currentStepId, function(){addFieldToGroup();}); '));
              $('#step_#{step_id}_widget_#{widget.id}').append($('<img>').attr('src', old_field[i].getValue()).attr('width', '50').attr('height', '50'));              
            }
            step#{step_id}FieldsList['#{widget.id}'] = opener;
        });
    }
    YUI().use('inputex', 'inputex-string'
    , function(Y) 
    {
        var opener = new URLOpenerWidget(); 
        var strings = (new String("#{value}")).split(',');
        for(var i = 0; i < strings.length; i++)
        {
            // [TODO] Keep DRY
            opener.fields.push(new Y.inputEx.StringField({label: 'URL',
                                                        name: 'step#{step_id}_#{widget.id}',
                                                        value: strings[i],
                                                        required:true,
                                                        parentEl: 'step_#{step_id}_widget_#{widget.id}'}));
            $('#step_#{step_id}_widget_#{widget.id}').append($('<input type=button>').attr('class', 'openURLRemoveButton').attr('value', 'Remove').attr('onClick', 'groups[#{step_id}]["#{widget.id}"].removeField(' + i + '); SaveFormData(currentStepId, currentStepId, function(){addFieldToGroup();});'));
            $('#step_#{step_id}_widget_#{widget.id}').append($('<img>').attr('src', strings[i]).attr('width', '50').attr('height', '50'));
        }
        step#{step_id}FieldsList['#{widget.id}'] = opener;
    });
  input(type="button", class="openURLButton", value="Посмотреть", onClick="URLOpenerWidget.showData(groups[#{step_id}]['#{widget.id}'].getValue());")
  input(type="button", class="openURLButton", value="Add", onClick="groups[#{step_id}]['#{widget.id}'].addField(); SaveFormData(currentStepId, currentStepId, function(){addFieldToGroup();});")
