extends BaseWidget

block content
  script(type='text/javascript')
    YUI().use('inputex', 'inputex-string'
    , function(Y) 
    {
      step#{step_id}FieldsList['#{widget.id}'] = new Y.inputEx.StringField({label: 'URL', name: '#{widget.id}', value: '#{value}', required:true, parentEl: 'step_#{step_id}_widget_#{widget.id}'});
    });
  input(type="button", class="openURLButton", value="Посмотреть", onClick="console.log(groups[#{step_id}]['#{widget.id}']);window.open(groups[#{step_id}]['#{widget.id}'].getValue(), \"some media\", \"menubar=0, status=0\");")
