extends layout

block content
  script(type='text/javascript')
    var solutionData = !{JSON.stringify(solutionData)};
    if ( checkStepExists ( "#{currentStep}" ) ) currentStepId = "#{currentStep}";
    else currentStepId = "#{solutionData.initialStep}";
    stepsHistory = !{JSON.stringify(stepsHistory)};
    
  //h1 
      #{solutionData.name}: #{caseName} > #{currentStep}
      - if (solutionData.sections!=undefined)
        - each section, i in solutionData.sections
          - each id, j in section.steps
            - if (id=="#{currentStep}")
              #{section.name}
              #{j+1}/#{section.steps.length}


  div(class="caseDescription")
    p
      !{solutionData.description}

  div(class="btn showEndCasePopupButton", onClick="ShowEndCasePopup('"+caseName+"')") Завершить

  div(class = "steps", id = "stepsWrapper")
    - each step, i in solutionData.steps
      - if (caseData == null)
        //- console.log(step)
        !=partial('aStep', {name:solutionData.name, caseName:caseName, step:step, stepData:null, stepsData:caseData, step_index:i, sectionData:solutionData.sections})
      - else
        //- console.log(step)   
        !=partial('aStep', {name:solutionData.name, caseName:caseName, step:step, stepData:caseData[step.id], stepsData:caseData, step_index:i, sectionData:solutionData.sections})
  div.alert.alert-error(id="emptyInputFailedMessage", style="display:none") 
  div.alert.alert-error(id="validationFailedMessage", style="display:none") Проверьте правильность заполнения всех полей
  div
    span.btn(id="prev_btn", onClick="PrevStep()") Предыдущий шаг
    | &nbsp;
    span.btn(id="next_btn", onClick="NextStep()") Следующий шаг
    | &nbsp;
    a(href="/mycases") Перейти к списку кейсов

  #endCasePopup
    != partial('endCasePopup', {caseName: caseName})
    
  #descriptionPopup
