script(type='text/javascript')
  var solutionData = !{JSON.stringify(solutionData)};
  if ( checkStepExists ( #{currentStep} ) ) temporaryCurrentStep = #{currentStep};
  stepsHistory = !{JSON.stringify(stepsHistory)};  
  previousStep = getPreviousStep ( temporaryCurrentStep );
  
h1
  #{solutionData.name}

div(class="caseDescription")
  p
    !{solutionData.description}

div(class="btn showEndCasePopupButton", onClick="ShowEndCasePopup()") Завершить

div(class = "steps", id = "stepsWrapper")
  - each step, i in solutionData.steps
    - if (caseData == null)
      !=partial('aStep', {step:step, stepData:null, step_index:i})
    - else
      !=partial('aStep', {step:step, stepData:caseData[i], step_index:i})
div.alert.alert-error(id="validationFailedMessage", style="display:none") Проверьте правильность заполнения всех полей
div(class="btn", onClick="PrevStep()") Предыдущий шаг
div(class="btn", onClick="NextStep()") Следующий шаг
div(id="endCasePopup")
  != partial('endCasePopup', {caseName: solutionData.id})
